<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.LeaveofficeDao">



    <insert id="addLeaveOfficeDao">
        insert into leaveoffices(
        staff_id,
        staff_name,
        leave_context,
        leave_time
        )values(
        #{staff.id},
        #{staff.staffName},
        #{leaveContext},
        #{leaveTime}
        )
    </insert>
</mapper>